body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem auto;
  /* box-sizing: border-box; */
}

main {
  box-shadow: 0 0 0.25em 0.05em silver;
}
h1 {
  font-size: medium;
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid grey;
}
img {
  width: 100%;
  object-fit: cover;
}


/* SCORE CONTAINER */

.score-container {
  margin: 0;
  padding: 1rem;
}
.score-container > p {
  margin: 0;
}
.score-container > p.score {
  font-weight: bold;
  font-size: 2rem;
}

.play-to-container {
  margin-top: 1rem;
}
.play-to-container > label {
  font-weight: bold;
}


/* BUTTONS */

.button-container {
  display: flex;
}

.buttons {
  color: white;
  width: 10rem;
  padding: 0.75em;
  border: none;
  margin: 0;
  border-radius: 5px;
}

#player-one-btn {
  background-color: #50d3a7;
}
#player-two-btn {
  background-color: #0088ff;
}
#reset-btn {
  background-color: rgb(255, 0, 98);
}

.buttons:hover {
  cursor: pointer;
}
